<div class="min-h-screen bg-gray-900 relative overflow-hidden">
  <div id="particles" class="absolute inset-0"></div>

  <!-- Header -->
  <header
    class="bg-gray-900 py-4 px-8 grid grid-cols-3 items-center shadow-md sticky top-0 z-50"
  >
    <!-- Sección de la imagen y el nombre -->
    <div class="flex items-center">
      <img
        src="assets/logo/logoA.png"
        alt="Abel Alvarez Photo"
        class="rounded-full w-10 h-10 mr-2"
      />
      <!-- <h1 class="text-white text-base font-semibold">Abel Álvarez</h1> -->
    </div>

    <!-- Menú de navegación para pantallas grandes -->
    <nav class="hidden md:flex justify-center space-x-4 text-gray-300 text-sm">
      <a
        (click)="scrollToSection('about')"
        class="hover:text-blue-400 whitespace-nowrap"
        >Sobre mí</a
      >
      <a
        (click)="scrollToSection('experience')"
        class="hover:text-blue-400 whitespace-nowrap"
        >Experiencia</a
      >
      <a
        (click)="scrollToSection('skills')"
        class="hover:text-blue-400 whitespace-nowrap"
        >Habilidades</a
      >
      <a
        (click)="scrollToSection('education')"
        class="hover:text-blue-400 whitespace-nowrap"
        >Educación</a
      >
      <a
        (click)="scrollToSection('projects')"
        class="hover:text-blue-400 whitespace-nowrap"
        >Proyectos</a
      >
      <a
        (click)="scrollToSection('contact')"
        class="hover:text-blue-400 whitespace-nowrap"
        >Contacto</a
      >
    </nav>

    <!-- Menú hamburguesa para pantallas pequeñas -->
    <div class="md:hidden flex justify-end">
      <button class="text-white focus:outline-none" (click)="toggleMenu()">
        <i class="fas fa-bars fa-lg"></i>
      </button>
    </div>

    <!-- Menú desplegable para pantallas pequeñas -->
    <div
      id="mobile-menu"
      class="hidden md:hidden col-span-3 w-full text-gray-300 mt-4 space-y-2"
    >
      <a (click)="scrollToSection('about')" class="block hover:text-blue-400"
        >Sobre mí</a
      >
      <a
        (click)="scrollToSection('experience')"
        class="block hover:text-blue-400"
        >Experiencia</a
      >
      <a (click)="scrollToSection('skills')" class="block hover:text-blue-400"
        >Habilidades</a
      >
      <a
        (click)="scrollToSection('education')"
        class="block hover:text-blue-400"
        >Educación</a
      >
      <a (click)="scrollToSection('projects')" class="block hover:text-blue-400"
        >Proyectos</a
      >
      <a (click)="scrollToSection('contact')" class="block hover:text-blue-400"
        >Contacto</a
      >
    </div>

    <!-- Iconos de redes sociales -->
    <div class="flex justify-end space-x-3 text-gray-300">
      <a
        href="https://www.linkedin.com/in/abel-andres-alvarez/"
        target="_blank"
        class="hover:text-blue-400"
      >
        <i class="fab fa-linkedin fa-lg"></i>
      </a>
      <a
        href="https://github.com/alvarezabelAA"
        target="_blank"
        class="hover:text-blue-400"
      >
        <i class="fab fa-github fa-lg"></i>
      </a>
      <a href="mailto:andresalvarez635@gmail.com" class="hover:text-blue-400">
        <i class="fas fa-envelope fa-lg"></i>
      </a>
    </div>
  </header>

  <!-- Secciones del contenido -->
  <main class="container mx-auto p-8">
    <!-- Profile Section -->
    <section
      id="about"
      class="flex flex-col md:flex-row items-center justify-between mb-16 p-8 bg-gray-900 text-white"
    >
      <!-- Imagen, solo visible en pantallas medianas y grandes -->
      <div class="hidden md:flex md:w-1/3 justify-center md:justify-start">
        <img
          class="rounded-full shadow-lg w-64 h-64 object-cover transform transition duration-500 hover:scale-105"
          src="assets/mio.jpg"
          alt="Abel Alvarez Photo"
        />
      </div>

      <!-- Información de perfil -->
      <div class="md:w-2/3 text-center md:text-left md:pl-8">
        <h1 class="text-5xl font-extrabold mb-4">
          ABEL <span class="text-blue-500">ÁLVAREZ</span>
        </h1>
        <p class="text-xl font-light mb-4">
          Software Developer - Via Asesores S.A
        </p>
        <p class="text-md font-normal text-gray-400 mb-6">
          JavaScript | React | Node.js | MongoDB | Tailwind CSS | Next.js |
          Prisma
        </p>
        <div class="flex justify-center md:justify-start space-x-4">
          <a
            href="https://www.linkedin.com/in/abel-andres-alvarez/"
            target="_blank"
            class="text-gray-400 hover:text-blue-500"
          >
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
          <a
            href="https://github.com/alvarezabelAA"
            target="_blank"
            class="text-gray-400 hover:text-blue-500"
          >
            <i class="fab fa-github fa-2x"></i>
          </a>
          <div class="flex space-x-4">
            <a
              href="assets/Abel_Alvarez_CV_Español.pdf"
              download="Abel_Alvarez_CV_Español.pdf"
              type="application/pdf"
              class="flex items-center bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300 ease-in-out transform hover:scale-110"
            >
              <i class="fas fa-download mr-2"></i> ES
            </a>

            <a
              href="assets/Abel_Alvarez_CV_Ingles.pdf"
              download="Abel_Alvarez_CV_Ingles.pdf"
              type="application/pdf"
              class="flex items-center bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-300 ease-in-out transform hover:scale-110"
            >
              <i class="fas fa-download mr-2"></i> EN
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Experience Section -->
    <section id="experience" class="mb-16 animate-fadeIn">
      <h3 class="text-3xl font-bold text-white mb-8 text-center">
        Experiencia
      </h3>
      <div class="max-w-4xl mx-auto p-8">
        <div class="relative border-l-4 border-blue-500">
          <!-- Vía Asesores S.A -->
          <div class="mb-8 ml-8">
            <div
              class="absolute w-8 h-8 bg-blue-500 rounded-full left-[-16px] top-0"
            ></div>
            <h3 class="text-2xl font-semibold text-white">
              Desarrollador Full Stack - Vía Asesores S.A
            </h3>
            <p class="text-gray-400 mb-2">Febrero 2023 - Presente</p>
            <p class="text-gray-300">
              Inicialmente comencé como desarrollador junior de frontend,
              migrando aplicaciones y desarrollando procedimientos en bases de
              datos. Actualmente, trabajo como desarrollador Full Stack,
              desarrollando APIs y dando mantenimiento a aplicaciones críticas
              para 5B.
            </p>
          </div>

          <!-- Invesgua Guatemala -->
          <div class="mb-8 ml-8">
            <div
              class="absolute w-8 h-8 bg-blue-500 rounded-full left-[-16px] top-0"
            ></div>
            <h3 class="text-2xl font-semibold text-white">
              Digital Marketing Manager - Invesgua Guatemala
            </h3>
            <p class="text-gray-400 mb-2">Enero 2020 - Noviembre 2023</p>
            <p class="text-gray-300">
              Gestioné estrategias digitales para maximizar el alcance y el
              engagement en redes sociales. Realicé análisis de métricas para
              evaluar la efectividad de las campañas, utilizando herramientas de
              análisis de datos.
            </p>
          </div>

          <!-- Redel Libros, El Salvador -->
          <div class="mb-8 ml-8">
            <div
              class="absolute w-8 h-8 bg-blue-500 rounded-full left-[-16px] top-0"
            ></div>
            <h3 class="text-2xl font-semibold text-white">
              Freelance Developer - Redel Libros, El Salvador
            </h3>
            <p class="text-gray-400 mb-2">Junio 2024 - Presente</p>
            <p class="text-gray-300">
              Desarrollo de una aplicación para la gestión administrativa e
              inventario de la librería, trabajando como desarrollador
              freelance.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Skills Section -->
    <section id="skills" class="bg-gray-900 text-white py-16">
      <div class="max-w-6xl mx-auto text-center">
        <h2 class="text-4xl font-bold mb-12">Habilidades</h2>
        <div
          class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-8"
        >
          <!-- HTML -->
          <div
            class="flex flex-col items-center bg-gray-800 p-6 rounded-lg hover:bg-gray-700 transition duration-300"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
              alt="HTML"
              class="w-16 h-16 mb-4"
            />
            <span class="text-lg">HTML</span>
          </div>

          <!-- CSS -->
          <div
            class="flex flex-col items-center bg-gray-800 p-6 rounded-lg hover:bg-gray-700 transition duration-300"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
              alt="CSS"
              class="w-16 h-16 mb-4"
            />
            <span class="text-lg">CSS</span>
          </div>

          <!-- JavaScript -->
          <div
            class="flex flex-col items-center bg-gray-800 p-6 rounded-lg hover:bg-gray-700 transition duration-300"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
              alt="JavaScript"
              class="w-16 h-16 mb-4"
            />
            <span class="text-lg">JavaScript</span>
          </div>

          <!-- Angular -->
          <div
            class="flex flex-col items-center bg-gray-800 p-6 rounded-lg hover:bg-gray-700 transition duration-300"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
              alt="Angular"
              class="w-16 h-16 mb-4"
            />
            <span class="text-lg">Angular</span>
          </div>

          <!-- React -->
          <div
            class="flex flex-col items-center bg-gray-800 p-6 rounded-lg hover:bg-gray-700 transition duration-300"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
              alt="React"
              class="w-16 h-16 mb-4"
            />
            <span class="text-lg">React</span>
          </div>

          <!-- Node.js -->
          <div
            class="flex flex-col items-center bg-gray-800 p-6 rounded-lg hover:bg-gray-700 transition duration-300"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
              alt="Node.js"
              class="w-16 h-16 mb-4"
            />
            <span class="text-lg">Node.js</span>
          </div>

          <!-- Next.js -->
          <div
            class="flex flex-col items-center bg-gray-800 p-6 rounded-lg hover:bg-gray-700 transition duration-300"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg"
              alt="Next.js"
              class="w-16 h-16 mb-4"
            />
            <span class="text-lg">Next.js</span>
          </div>

          <!-- Tailwind CSS -->
          <div
            class="flex flex-col items-center bg-gray-800 p-6 rounded-lg hover:bg-gray-700 transition duration-300"
          >
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Tailwind_CSS_Logo.svg"
              alt="Tailwind CSS"
              class="w-16 h-16 mb-4"
            />
            <span class="text-lg">Tailwind CSS</span>
          </div>

          <!-- MongoDB -->
          <div
            class="flex flex-col items-center bg-gray-800 p-6 rounded-lg hover:bg-gray-700 transition duration-300"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg"
              alt="MongoDB"
              class="w-16 h-16 mb-4"
            />
            <span class="text-lg">MongoDB</span>
          </div>

          <!-- Prisma -->
          <div
            class="flex flex-col items-center bg-gray-800 p-6 rounded-lg hover:bg-gray-700 transition duration-300"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/prisma/prisma-original.svg"
              alt="Prisma"
              class="w-16 h-16 mb-4"
            />
            <span class="text-lg">Prisma</span>
          </div>

          <!-- MySQL -->
          <div
            class="flex flex-col items-center bg-gray-800 p-6 rounded-lg hover:bg-gray-700 transition duration-300"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"
              alt="MySQL"
              class="w-16 h-16 mb-4"
            />
            <span class="text-lg">MySQL</span>
          </div>

          <!-- Oracle -->
          <div
            class="flex flex-col items-center bg-gray-800 p-6 rounded-lg hover:bg-gray-700 transition duration-300"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/oracle/oracle-original.svg"
              alt="Oracle"
              class="w-16 h-16 mb-4"
            />
            <span class="text-lg">Oracle</span>
          </div>
        </div>
      </div>
    </section>

    <section id="projects" class="bg-gray-900 py-16 text-white">
      <div class="max-w-6xl mx-auto text-center">
        <h2 class="text-4xl font-bold mb-12">Mis Proyectos</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
          <!-- Proyecto 1 -->
          <div
            class="bg-gray-800 rounded-lg shadow-lg overflow-hidden hover:shadow-2xl transition-shadow duration-300 transform hover:scale-105"
          >
            <!-- <img
              src="https://via.placeholder.com/300x200"
              alt="Proyecto 1"
              class="w-full h-48 object-cover"
            /> -->
            <div class="p-6">
              <h3 class="text-xl font-semibold mb-2">Contabilidad</h3>
              <p class="text-gray-400 mb-4">
                Manejo de tablas y base de datos de clientes, con generación de
                reportes diarios y balances financieros.
              </p>
              <a href="#" class="text-blue-500 hover:underline">Ver proyecto</a>
            </div>
          </div>

          <!-- Proyecto 2 -->
          <div
            class="bg-gray-800 rounded-lg shadow-lg overflow-hidden hover:shadow-2xl transition-shadow duration-300 transform hover:scale-105"
          >
            <!-- <img
              src="https://via.placeholder.com/300x200"
              alt="Proyecto 2"
              class="w-full h-48 object-cover"
            /> -->
            <div class="p-6">
              <h3 class="text-xl font-semibold mb-2">Quiniela</h3>
              <p class="text-gray-400 mb-4">
                Aplicación para realizar quinielas durante el Mundial, con
                gestión automática de resultados y clasificaciones.
              </p>
              <a href="#" class="text-blue-500 hover:underline">Ver proyecto</a>
            </div>
          </div>

          <!-- Proyecto 3 -->
          <div
            class="bg-gray-800 rounded-lg shadow-lg overflow-hidden hover:shadow-2xl transition-shadow duration-300 transform hover:scale-105"
          >
            <!-- <img
              src="https://via.placeholder.com/300x200"
              alt="Proyecto 3"
              class="w-full h-48 object-cover"
            /> -->
            <div class="p-6">
              <h3 class="text-xl font-semibold mb-2">
                Proyecto Tienda Virtual
              </h3>
              <p class="text-gray-400 mb-4">
                E-commerce completo con login, manejo de base de datos, conexión
                de APIs y frontend con Angular.
              </p>
              <a href="#" class="text-blue-500 hover:underline">Ver proyecto</a>
            </div>
          </div>

          <!-- Proyecto 4 -->
          <div
            class="bg-gray-800 rounded-lg shadow-lg overflow-hidden hover:shadow-2xl transition-shadow duration-300 transform hover:scale-105"
          >
            <!-- <img
              src="https://via.placeholder.com/300x200"
              alt="Proyecto 4"
              class="w-full h-48 object-cover"
            /> -->
            <div class="p-6">
              <h3 class="text-xl font-semibold mb-2">Totito React</h3>
              <p class="text-gray-400 mb-4">
                Juego Tic Tac Toe creado con React y Tailwind CSS, con estados
                locales y funcionalidad interactiva.
              </p>
              <a href="#" class="text-blue-500 hover:underline">Ver proyecto</a>
            </div>
          </div>

          <!-- Proyecto 5 -->
          <div
            class="bg-gray-800 rounded-lg shadow-lg overflow-hidden hover:shadow-2xl transition-shadow duration-300 transform hover:scale-105"
          >
            <!-- <img
              src="https://via.placeholder.com/300x200"
              alt="Proyecto 5"
              class="w-full h-48 object-cover"
            /> -->
            <div class="p-6">
              <h3 class="text-xl font-semibold mb-2">
                Fundamentos de Aplicaciones Web
              </h3>
              <p class="text-gray-400 mb-4">
                CRUD de Comics con login implementado en Node.js y Express, con
                frontend en Angular.
              </p>
              <a href="#" class="text-blue-500 hover:underline">Ver proyecto</a>
            </div>
          </div>

          <!-- Proyecto 6 -->
          <div
            class="bg-gray-800 rounded-lg shadow-lg overflow-hidden hover:shadow-2xl transition-shadow duration-300 transform hover:scale-105"
          >
            <!-- <img
              src="https://via.placeholder.com/300x200"
              alt="Proyecto 6"
              class="w-full h-48 object-cover"
            /> -->
            <div class="p-6">
              <h3 class="text-xl font-semibold mb-2">MallCompass</h3>
              <p class="text-gray-400 mb-4">
                Sistema de administración de centros comerciales con
                herramientas modernas y manejo eficiente de datos.
              </p>
              <a href="#" class="text-blue-500 hover:underline">Ver proyecto</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Form -->
    <section id="contact" class="min-h-screen text-white">
      <h2 class="text-4xl font-bold text-center mb-12">Contacto</h2>
      <div
        class="max-w-4xl mx-auto flex flex-col md:flex-row justify-between items-center"
      >
        <!-- Formulario de contacto -->
        <form
          (submit)="sendEmail($event)"
          id="contact-form"
          class="w-full md:w-1/2 bg-gray-900 p-6 rounded-lg shadow-lg"
        >
          <div class="mb-4">
            <label
              for="from_name"
              class="block text-lg font-semibold text-gray-300 mb-2"
              >Nombre</label
            >
            <input
              type="text"
              id="from_name"
              name="from_name"
              class="w-full p-3 bg-gray-700 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              placeholder="Tu nombre"
              required
            />
          </div>

          <div class="mb-4">
            <label
              for="to_name"
              class="block text-lg font-semibold text-gray-300 mb-2"
              >Correo electrónico</label
            >
            <input
              type="email"
              id="to_name"
              name="to_name"
              class="w-full p-3 bg-gray-700 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              placeholder="Tu correo electrónico"
              required
            />
          </div>

          <div class="mb-4">
            <label
              for="message"
              class="block text-lg font-semibold text-gray-300 mb-2"
              >Mensaje</label
            >
            <textarea
              id="message"
              name="message"
              rows="5"
              class="w-full p-3 bg-gray-700 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              placeholder="Escribe tu mensaje aquí"
              required
            ></textarea>
          </div>

          <button
            type="submit"
            class="w-full bg-blue-500 text-white py-3 px-6 rounded-lg shadow-lg hover:bg-blue-600 transition duration-300 ease-in-out transform hover:scale-105"
          >
            Enviar mensaje
          </button>
        </form>

        <!-- Redes sociales -->
        <div
          class="w-full md:w-1/2 mt-8 md:mt-0 flex flex-col items-center justify-center bg-gray-800 p-8 rounded-lg shadow-lg"
        >
          <h3 class="text-3xl font-bold mb-6 text-white">
            Sígueme en mis redes sociales
          </h3>
          <div class="flex space-x-8">
            <a
              href="https://www.linkedin.com/in/abel-andres-alvarez/"
              target="_blank"
              class="text-gray-400 hover:text-blue-500 transition transform hover:scale-125 duration-300 ease-in-out"
            >
              <i
                class="fab fa-linkedin fa-3x shadow-lg hover:shadow-blue-500/50"
              ></i>
            </a>
            <a
              href="https://github.com/alvarezabelAA"
              target="_blank"
              class="text-gray-400 hover:text-blue-500 transition transform hover:scale-125 duration-300 ease-in-out"
            >
              <i
                class="fab fa-github fa-3x shadow-lg hover:shadow-blue-500/50"
              ></i>
            </a>
            <a
              href="mailto:andresalvarez635@gmail.com"
              class="text-gray-400 hover:text-blue-500 transition transform hover:scale-125 duration-300 ease-in-out"
            >
              <i
                class="fas fa-envelope fa-3x shadow-lg hover:shadow-blue-500/50"
              ></i>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="bg-gray-800 shadow-md p-4 mt-16">
    <p class="text-gray-400">
      © 2024 Abel Álvarez | Contacto:
      <a href="mailto:andresalvarez635&#64;gmail.com" class="text-blue-400"
        >andresalvarez635&#64;gmail.com</a
      >
    </p>
  </footer>
</div>

<!-- Animations -->
<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideInUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 1.5s ease-in-out;
  }

  .animate-slideInLeft {
    animation: slideInLeft 1s ease-in-out;
  }

  .animate-slideInRight {
    animation: slideInRight 1s ease-in-out;
  }

  .animate-slideInUp {
    animation: slideInUp 1.5s ease-in-out;
  }

  .particle {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    animation: fly linear infinite;
  }

  @keyframes fly {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100vh);
    }
  }
</style>

<!-- andresalvarez635&#64;gmail.com -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
